.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #3f5686b4;
}
h1{
  text-align: center;
}
.container{
  margin-right:10%;
  margin-left:10%;
  align-items: center;
}
table{
  width:80%;
  margin-left: 8%;
  margin-bottom: 30px;;
}
table td{
  text-align: center;
}
table th, td{
  border:1px solid black;
  background-color: aliceblue;
}
table td:hover{
  background-color: rgb(112, 185, 185);
  color:rgb(0, 0, 0)
}
input{
  margin-bottom: 2px;
  border-radius:5px;
  width:20%;
  border-color: antiquewhite;
  height: 21px;
  margin-left: 88px;
}
.foot{
  background-color: aliceblue;
  width:100%;
  height: 50px;
margin-top: 20px;
bottom: 0;
}